In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<font size = "5" >

(a) Which three constructors had the highest number of total points between 1981 and
2020? How many total points did each of them get? How do the total number of points
for each constructor compare to the average across constructors?

In [ ]:
constructors = pd.read_csv("data_raw/constructors.csv")
constructor_standings = pd.read_csv("data_raw/constructor_standings.csv")
results = pd.read_csv("data_raw/results.csv")
races = pd.read_csv("data_raw/races.csv")

In [13]:
merged_constructurs = (constructor_standings
      .merge(races[["raceId", "year"]], on="raceId", how="left")
      .merge(constructors, on="constructorId", how="left"))

top3_points = (merged_constructurs.query("year >= 1981 and year <= 2020")
               .groupby(["constructorId","name"])
               .agg(total_points=("points","sum"))
               .sort_values("total_points", ascending=False).head(3))
display(top3_points)

                        total_points
constructorId name
6             Ferrari        72689.0
131           Mercedes       59297.0
9             Red Bull       49761.0

In [12]:
average_pts = (merged_constructurs.query("year >= 1981 and year <= 2020")
               .groupby(["constructorId","name"])
               .agg(total_points=("points","sum")))["total_points"].mean()
average_pts

np.float64(5233.325757575758)

<font size = "5" >

(b) Which three constructors had the highest number of total points between 2001 and
2020? How many total points did each of them get? How do the total number of points
for each constructor compare to the average across constructors?

In [14]:
top3_points_2020 = (merged_constructurs.query("year >= 2001 and year <= 2020")
               .groupby(["constructorId","name"])
               .agg(total_points=("points","sum"))
               .sort_values("total_points", ascending=False).head(3))
display(top3_points_2020)

                        total_points
constructorId name
6             Ferrari        59724.0
131           Mercedes       59297.0
9             Red Bull       49761.0

In [15]:
average_pts_2020 = (merged_constructurs.query("year >= 2001 and year <= 2020")
               .groupby(["constructorId","name"])
               .agg(total_points=("points","sum")))["total_points"].mean()
average_pts_2020

np.float64(7879.628571428571)

<font size = "5" >

(c) How did the rankings change across the two time periods?

<font size = "3">

Comparing `top3_points` with `top3_points_2020` shows that the names of the top 3 constructors are the same across the two time periods and in the same order: Ferrari, Mercedes, and Red Bull.

<font size = "5" >

(d) How many different drivers did Ferrari have between 1981 and 2020?

In [27]:
results_year = results.merge(races[["raceId","year"]], on="raceId", how="left")
ferrari_ids = constructors.query("name == 'Ferrari'")["constructorId"].unique()

ferrari_drivers = (results_year
                        .query("year >= 1981 and year <= 2020 and constructorId in @ferrari_ids")
                        ["driverId"]
                        .unique())

len(ferrari_drivers)

25

<font size = "5" >

(e) What was the best year for Ferrari between 1981 and 2020?

<font size = "3" >
I am going to define the “best year” as the year with the highest total constructor points. I will compute Ferrari’s yearly points using `constructor_standings`, not driver results.

In [ ]:
ferrari_constr = merged_constructurs.query("year >= 1981 and year <= 2020 and name == 'Ferrari'")

ferrari_yearly = (ferrari_constr
                  .groupby("year")
                  .agg(total_points=("points","sum"))
                  .sort_values("total_points", ascending=False))

display(ferrari_yearly)

#The best year was 2018

      total_points
year
2018        6377.0
2017        5749.0
2019        5735.0
2016        4566.0
2015        4457.0
2010        3966.0
2013        3787.0
2012        3659.0
2011        3546.0
2004        2636.0
2014        2314.0
2002        1796.0
2006        1796.0
2007        1734.0
2008        1686.0
2001        1631.0
2000        1493.0
2003        1336.0
2020        1285.0
1999        1133.0
1998        1105.0
2005        1091.0
1997        1000.0
1985         857.0
1990         842.0
1995         806.0
1983         691.0
1994         654.0
1988         628.0
1982         577.0
2009         577.0
1996         544.0
1991         475.5
1984         475.5
1989         461.0
1987         322.0
1981         288.0
1986         253.0
1992         189.0
1993         171.0